:8888 {
    log
    
    handle_path {$RENKU_BASE_URL_PATH}/* {
        reverse_proxy 127.0.0.1:14500 {
            header_up Host {http.reverse_proxy.upstream.hostport}
        }
    }

    handle {
        respond "Not Found" 404
    }
}
