[Desktop Entry]
Version=1.0
Type=Application
Name=0 KNIME
Comment=KNIME Data Analytics Software
Exec=/opt/knime/knime
Icon=/opt/knime/icon.xpm
Terminal=false
Categories=Development;Science;
StartupNotify=true
